@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-all-center {
    @apply flex items-center justify-center;
  }
  .flex-i-center {
    @apply flex items-center;
  }
  .flex-j-center {
    @apply flex justify-normal;
  }
}

@layer base {
  .layout {
    @apply mx-auto min-h-dvh w-full min-w-[360px] max-w-[500px] bg-gray02 font-pretendard leading-normal -tracking-[0.01em] antialiased;
  }
}

::-webkit-scrollbar {
  display: none;
}

/* Swiper 라이브러리 관련 */
.swiper {
  @apply m-0 w-full !important;
}

.swiper-slide {
  @apply w-fit !important;
}

.swiper-onboarding {
  @apply !w-full;
}

.swiper-pagination {
  @apply bottom-2 h-2 !important;
}

.swiper-pagination-bullet {
  @apply mx-[2.5px] bg-gray04 opacity-100 !important;
  transition: 0.3s ease width;
}
.swiper-pagination-bullet-active {
  @apply w-5 rounded-[50px] bg-primaryOrange !important;
}

:root {
  --toastify-font-family: var(--font-pretendard);
}

.Toastify__toast {
  margin-bottom: 0;
}
