@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-all-center {
    @apply flex items-center justify-center;
  }
  .flex-i-center {
    @apply flex items-center;
  }
  .flex-j-center {
    @apply flex justify-normal;
  }
}

@layer base {
  .layout {
    @apply mx-auto min-h-dvh w-full max-w-[500px] bg-gray03 font-pretendard leading-normal -tracking-[0.01em];
  }

  @font-face {
    font-family: Pretendard;
    src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

@font-face {
  font-family: Pretendard;
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Pretendard-medium;
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Pretendard-semiBold;
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Pretendard-bold;
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}

.swiper-slide {
  @apply w-fit !important;
}

:root {
  --toastify-font-family: Pretendard;
}

.Toastify__toast {
  margin-bottom: 0;
}
